:root {
  --toastify-color-dark: #353535 !important;
  --toastify-color-info: #4D7A8C !important;
  --toastify-color-success: #2EC4B6 !important;
  --toastify-color-warning: #F6F5AE !important;
  --toastify-color-error: #B80C09 !important;
}
