:root {
  --toastify-color-dark: #353535 !important;
  --toastify-color-info: #4d7a8c !important;
  --toastify-color-success: #2ec4b6 !important;
  --toastify-color-warning: #f6f5ae !important;
  --toastify-color-error: #b80c09 !important;
}
